.scrollToTop{
	width:200px; 
	height:76px;
	padding:0px; 
	text-align:center; 
	background: whiteSmoke;
	font-weight: bold;
	color: #444;
	text-decoration: none;
	position:fixed;
	display:none;
	background: url('arrow.png') no-repeat 0px 20px;
margin-left:1240px;
margin-top:500px;
}
.scrollToTop:hover{
	text-decoration:none;
}

